@charset "utf-8";

html{
	color: #333;
}

a{
	color: #666 !important;
}
a.link{
	color: #666 !important;
}

h3.title {
	color: #333 !important;
}

a:hover {
	color: #999 !important;
}

a:hover.link{
	color: #999 !important;
	text-decoration: underline;
}

h3 {
	color: 333# !important;
}

h3 .uk-panel-title{
	color: 333# !important;
}

p.title-link, p:hover.title-link {
	font-size:115% !important;
}

p.title-link, a#button.uk-button-default{
	color: #123e72 !important;
}

p:hover.title-link, a:hover#button.uk-button-default{
	color: #1094ab !important;
}

.barrausp {
    background-image: url("../images/bg-headtop.gif");
    background-repeat: repeat-x;
}

#menu div ul li a {
    font-weight: bold !important;
}

#menu div ul li a, .menu div ul li a {
	color: #1094ab  !important;
}

#menu div ul li a:hover, .menu div ul li a:hover{
        color: #fcb421  !important;
}


/*#menu div ul li a:hover {
    color: #64c4d2 !important;
}*/

#sub-menu div ul li a{
	font-weight: bold !important;
}

.uk-button-primary, .uk-search-icon-flip {
	background: #1094ab !important;
	color: #fff !important;
}

.uk-button-primary:hover, .uk-search-icon-flip:hover {
	background: #fcb421 !important;
    color: #333 !important;
}



.uk-nav-header {
	color: #222 !important;
}

.uk-offcanvas-bar hr{
	border-top-color: #e5e5e5 !important;
}

.uk-offcanvas-bar {
	color: #333 !important;
}

.capitalize {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}

#sub-menu div ul li a{
	min-height: auto;
	height: 2em;
}

#logos-rodape a, #logos-rodape a:hover{
	text-decoration: none !important; 
}

.not-filter{
	color: #f0504c !important;	
}

.filtros, .exportacao {
	background-color: #fff !important;
	color: #1094ab !important;
	border: 1px solid #1094ab !important;
}

.filtros:hover, .exportacao:hover {
	color: #fcb421 !important;
	border: 1px solid #fcb421 !important;
}

.search {
	border: none;
	border-bottom: 1px solid #e5e5e5 !important;
}

.search:hover, .search:active{
	border: none;
	border-bottom: 1px solid #1094ab !important;
}

.search-button{
	background-color: #fff !important;
	color: #1094ab !important;
}

.search-button:hover{
	background-color: #fff !important;
	color: #fcb421 !important;
}

.search-input{
	border: none;
}

.result-icons {
	height: 48px;
}

.register-icons {
	height: 48px;
}

.citation li {
	list-style: none;
}

#citacao{
	margin: auto;
}

.desativado {
	opacity : 0.3;
}

@media only screen and (min-width: 960px) {
  .result-icons {
    height: 40px;
  }

  .register-icons {
	height: 56px;

}
}
